<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main_style.css">
    <link rel="stylesheet" href="./css/buy_style.css">

    <script defer src="./js/buy_script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Second Hand Shopping Online</title>
</head>
<body onload="displayAmount()">
    <header>
        <div class="header"  id="myheader">
            <a class="logo">
                <div>Second Hand</div>
                <div>Shopping Online</div>
                <i class="fa-solid fa-handshake-simple" id="logo_hand"></i>
            </a>
            
            
        </div>
        
        <button id="scrollToTopBtn" class="button_up" onmouseover="arrow_up(this)">
            <i id="arrow_up" class="fa-solid fa-angle-up fa-2xl"></i>
        </button>
    
    </header>

    <div class="bg_all">
        <div class="all">
            <div class="go_back">
                <a href="./pay">
                    <i class="fa-solid fa-chevron-left fa-2xl"></i>
                    <p>ยกเลิก</p>
                </a>
            </div>
            <p class="text_head">
                ชำระเงิน
            </p>
            <div class="qrcode">
                <img src="./images/Shiboy.JPG" alt="Qrcode สำหรับโอนเงิน">
            </div>
            <p class="text_up1">
                (ชำระเงินแล้วกรุณากรอกข้อมูลให้ครบถ้วน)
            </p>
            <section class="input_info">
                
                <p class="info_text">จำนวนเงินที่ต้องชำระคือ: <span id="amountDisplay"></span></p>

                <div class="info_text">รูปสลิปโอนเงิน</div>
                <div class="bg_shop_img">
                    <button class="button_slip_img" onclick="handleFileUpload()">
                        <i class="fa-solid fa-upload"></i>
                        Upload รูป
                    </button>
                    <input type="file" id="fileInput" style="display: none;" accept="image/*">
                    <div class="uploadphoto">
                    </div>
                </div>

                <div class="info_text">วันที่และเวลาที่โอน </div>
                <input class="date_time" type="datetime-local">
            </section>
            <button class="submit_success"><div>ยืนยันการชำระเงิน</div></button>
            

        </div>
    </div>
</body>
</html>