<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main_style.css" rel="stylesheet">
    <link href="./css/status_order_style.css" rel="stylesheet">

    
    <script defer src="./js/hamlog_script.js"></script>
    <script defer src="./js/status_order_script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/iconSHSO.png">
    <title>Second Hand Shopping Online</title>    

</head>
<body>
    <header>
        <div class="header"  id="myheader">
            <a class="logo" href="./main">
                <div>Second Hand</div>
                <div>Shopping Online</div>
                <i class="fa-solid fa-handshake-simple" id="logo_hand"></i>
            </a>
            
            <div class="menu" id="mymenu">
                <a class="profile_order" href="./profile">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <div>Profile</div>
                </a>
                <a class="inmenu" href="./seller">
                    <div class="bordermenu">
                        <i class="fa-solid fa-shop fa-xl" id="shop_icon"></i>
                        Shop
                    </div>
                </a>
                <a class="profileham" href="./profile">
                    <div class="bordermenu">
                        <i class="fa-solid fa-user fa-2xl"></i>
                        <div class="inprofileham">Profile</div>
                    </div>
                </a>
                <a class="cartham" href="../cart">
                    <div class="bordermenu">
                        <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                        <div class="incartham">Cart</div>
                    </div>
                </a>
                <% if (success) { %>
                    <a class="login" onclick="openLogin(this)">login/sing up</a>
                <% } else { %>
                    <a class="logout">
                        <i class="fa-solid fa-right-from-bracket fa-xl"></i>logout
                    </a>
                    <div class="relog">
                        <div class="head_relog">log out แน่นะ</div>
                        <div class="blog">
                            <a class="cancel_logout">ยกเลิก</a>
                            <a href="../logout" class="repeat_logout">ยืนยัน</a>
                        </div>
                        
                    </div>
                    
                <% } %>
            </div>
            
            <div class="ham" id="myham" onclick="myFunction(this)">
                <div class="container">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
        <nav class="search_bar" onclick="Closemenu(this),gotomain()">
            <div class="insearch_bar">
                <input id="productCountInput" class="input1">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ed6a53; margin-left: 11px;" id="searchimg"></i>
                <button class="button1">Search</button>
                <a class="cart" href="../cart">
                    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    <div class="count_order"></div>
                </a>
            </div>
        </nav>
        <button id="scrollToTopBtn" class="button_up" onmouseover="arrow_up(this)">
            <i id="arrow_up" class="fa-solid fa-angle-up fa-2xl"></i>
        </button>
    
    </header>
    <div class="all_content_order" onclick="Closemenu(this)">
        <div class="bg_content_order">
            <div class="type_order">
                <div class="bg_sending_order" id="bg_sending_order" >
                    <div class="sending_order">
                        คำสั่งซื้อ
                    </div>
                    <div class="line_left"></div>
                </div>
                <div class="midline"></div>
                <div class="bg_history_order" id="bg_history_order" >
                    <div class="history_order">
                        ประวิติการสั่งซื้อ
                    </div>
                    <div class="line_right"></div>
                </div>
            </div>
           
            <div class="all_intype_order" id="Iincshop">
                <!-- <div class="intype_order">
                    <div class="detail_shop">
                        <div class="shop_name">Name_Shop</div>
                    </div>
                    <section class="inorder" id="Iinorder">
                        <div class="incpro">
                            <a class="click_incpro" href="./product">
                                <img src="images/Shirocmt.jpg" alt="Product Image">
                                <div class="bg_product_name">
                                    <div class="product_name">Product Name</div>
                                    <div class="select_type_pro">Select Type Product</div>
                                </div>
                            </a>
                            
                            <div class="cost_pro">
                                &nbsp;100
                            </div>
                            <div class="bg_amount">
                                <div>จำนวน</div>
                                <div class="amount">
                                    &n bsp;1
                                </div>
                            </div>
                            <div class="all_cost">
                                <div class="all_cost_text">รวมคำสั่งซื้อ : </div>
                                <div class="all_cost_pro">
                                </div>
                            </div>
                            <button class="con_product">ยืนยันการรับสินค้า</button>
                            <div class="status">
                                Status
                            </div> 
                        </div>
                    </section>
                </div>  -->
            </div>
            
        </div>
    </div>
    <div class="bg_confirm_sucess"></div>
    <div class="confirm_success"> 
        <div class="confirm_success_text">ยืนยันว่าได้รับสินค้าเรียบร้อยแล้ว</div>
            <div class="bg_success">
            <div class="confirm_success_exit">
                ยกเลิก
            </div>
            <div class="confirm_success_verifile">
                ยืนยัน
            </div>
        </div>
    </div>
    



















        <!-- login -->
        <section class="prologin" id="myprologin">
            <div class="closeLogin" onclick="closeLogin(this)"></div>
            <div class="inlog" id="Iinlog">
                <div class="bginlog" onclick="bginlog_func(this)"></div>
                <div class="titlelogin">LOGIN</div>
                <div class="not_mail">อีเมลหรือรหัสผ่านไม่ถูกต้อง</div>
                <div class="userinputbar" id="Uuserinputbar">Email</div>
                <div class="userinputback"></div>
                <input class="userinput" id="Uuserinput" type="text" onfocus="userinput_func(this)" required>
    
                <div class="passinputbar" id="Ppassinputbar">Password</div>
                <div class="passinputback"></div>
                <input class="passinput" id="Ppassinput" type="password" onfocus="passinput_func(this)" required>
                <i class="fa-solid fa-eye fa-xl" id="eye" onclick="eye_func(this)"></i>
                <button type="button" class="Loginbutton">Login</button>
                <span class="outsign_up_click">ลงทะเบียน 
                    <button class="sign_up_click" onclick="sign_up_click_func(this)">Sign up</button>
                </span>
            </div>
            <div class="insign" id="Iinsign">
                <div class="bginsign" onclick="bginsign_func(this)"></div>
                <div class="titlesignup">SIGN UP</div>
                <div class="match_mail">อีเมลนี้ถูกลงทะเบียนเรียบร้อยแล้ว</div>
                <div class="check_pass">ใส่รหัสผ่านอย่างน้อย 8 ตัว</div>
                <div class="userinputbar_sign" id="Uuserinputbar_sign">Email</div>
                <div class="userinputback_sign"></div>
                <input class="userinput_sign" id="Uuserinput_sign"onfocus="userinput_sign_func(this)" required>
    
                <div class="usernameinputbar_sign" id="Uusernameinputbar_sign">Username</div>
                <div class="usernameinputback_sign"></div>
                <input class="usernameinput_sign" id="Uusernameinput_sign" onfocus="usernameinput_sign_func(this)">
    
                <div class="passinputbar_sign" id="Ppassinputbar_sign">Password</div>
                <div class="passinputback_sign"></div>
                <input class="passinput_sign" id="Ppassinput_sign" type="password" onfocus="passinput_sign_func(this)" required>
                <i class="fa-solid fa-eye fa-xl" id="eye_sign" onclick="eye_sign_func(this)"></i>
    
                <div class="passinputbar_sign2" id="Ppassinputbar_sign2">Confirm&nbsp;Password</div>
                <div class="passinputback_sign2"></div>
                <input class="passinput_sign2" id="Ppassinput_sign2" type="password" onfocus="passinput_sign2_func(this)" required>
                <i class="fa-solid fa-eye fa-xl" id="eye_sign2" onclick="eye_sign2_func(this)"></i>
                <span class="matchpass" id="Mmatchpass">*กรุณากรอกรหัสผ่านให้ตรงกัน</span>
    
                <button class="Signinbutton">Sign up</button>
                <span class="outlogin_click">ลงชื่อเข้าใช้
                    <button class="login_click" onclick="login_click_func(this)">Login</button>
                </span>
            </div>
    
        </section>
        <!-- /login -->

</body>
</html>
