*{
    font-family: 'Exo 2', sans-serif, 'Noto Sans Thai', sans-serif;
}
.all_width{
    display: flex;
    justify-content: center;
}
.all{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address{
    position: static;
    background-color: #ffe8c7;
    height:300px;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.now_address{
    font-size: 20px;
    width: 600px;
    margin-bottom: 50px;
}
.now_address_text{
    font-size: 25px;
    margin: 20px 0 30px 10px;
}
.show_data_address{
    width: 500px;
    border-radius:10px;
    border: 2px  solid #ffddb9;
    background-color: #fffaf5;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
}
.profile_address_data{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 10px;
}
.select_address{
    width: 150px;
    height: 50px;
}
.change_address{
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #d4803c;
    color: #fffaf5;
    border: none;
    transition-duration: 0.3s;
    width: 150px;
    height: 50px;
    border-radius: 5px;

}
.change_address:hover{
    background-color: #c16920;
}
.all_intype_order{
    padding-top: 10px;
    width: 100%;
    max-width: 1500px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
}
.intype_order{
    background-color: rgb(253, 255, 224);
    height: auto;
    width: 85%;
    min-width: 1000px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.detail_shop{
    height: 50px;
    width: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    border-bottom:2px solid rgb(255, 209, 181);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shop_name{
    margin-left: 30px;
}
.inorder{
    width: 100%;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.incpro{
    position:relative;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 95%;
    max-width: 1500px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
}
.click_incpro{
    height: 150px;
    width: 500px;
    padding-left:10px;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: #fffaf5;
    border:1px solid #ffddb9;
    border-radius: 10px;
    margin-left: 30px;
}
.click_incpro img{
    width: 130px;
    height:130px;
    object-fit: cover;
}
.bg_product_name{
    display: flex;
    flex-direction: column;
}
.product_name{
    margin:0 0 0 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    color: #000;
}

.select_type_pro{
    margin:0 0 0 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    color: #000;
}
.cost_pro{
    width: 150px;
    margin:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_amount{
    display: flex;
    align-items: center;
}
.amount{
    width: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.amount:before{
    content: "x";
}
.cost_pro:before{
    content: "฿ ";
}
.all_cost{
    position: absolute;
    margin: 10px;
    right: 0;
    bottom: 10px;
    display: flex;
}
.all_cost_text{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.all_cost_pro{
    width: 100px;
    margin:10px 0px;
    color: #ed6a53;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}
.submit{
    background-color: #e6ae46;
    height: 250px;
    width: 100%;
    position: static;
    z-index: 5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.top{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom:2px solid #d4803c;

}
.left_method{
    width: 50%;
    padding-left: 100px;
    font-size: 22px;
}
.right_method{
    width: 50%;
    font-size: 22px;
}
.mid_bot{
    width: 100%;
    height: 190px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mid{
    height: 150px;
    display: flex;

    
}
.amount_all_product_title{
    margin-left: 150px;
    height: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}
.amount_all_product{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 22px;
}
.amount_all_product_title div, .amount_all_product div{
    margin-top: 10px;
    font-size: 22px;
}
.bot{
    height: 190px;
    margin-right: 150px;
    display: flex;
    align-items: center;
}
.submit_send{
    background-color: #ed6a53;
    border:1px solid #ed6a53;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition-duration: 0.1s;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #fffaf5;
}
.submit_send:hover{
    background-color: #c44d37;
}
.submit_send:active{
    background-color: #a33e2d;
    transform: scale(0.9);
}

@media screen and (max-width: 900px) {
    #mymenu .inmenu:nth-child(3) .bordermenu {
        border: none;
      }
    .header-active{
        min-height: 370px !important;
    }
    .insearch_bar{
        width:75%;
    }
    .profile_order{
        display: none;
    }
}