*{
    font-family: 'Exo 2', sans-serif, 'Noto Sans Thai', sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 2200px;
    background-color: #fffaf5;
}


.bg_all{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.all {
    display: flex;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back_to_profile{
    width: 100%;
    min-width: 1000px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top:30px ;
}
.back_to_profile a{
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-left: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.back_to_profile a i{
    display: flex;
    align-items: center;
    color: #ed6a53;
}
.back_to_profile a p{
    margin-left:10px ;
    display: flex;
    align-items: center;
    color: #ed6a53;
    font-size: 25px;
    font-weight: bold;
}
.back_to_profile a:hover{
    transform: scale(1.1);
}
.text_head0{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid #ecb143;
    border-bottom: 3px solid #ecb143;
    width:850px;
    display: flex;
    justify-content: center;
    background-color: #fceac8;
}
.text_head0 i{
    padding:20px ;
    color: #ed6a53;
    rotate: 10deg;
}
.text_head{
    font-size: 30px;
    margin-top: 60px;
}
.input_infoseller{
    width: 900px;
    height: auto;
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_head{
    font-size: 25px;
    width: 500px;
    padding: 10px 0;
    margin: 50px 0 10px 0;
    color: #d4803c;
}
.text_up1{
    margin-top: 10px;
    color: #ed6a53;
    font-size: 20px;
}
.text_up_alert{
    margin-top: 10px;
    color: #ed6a53;
    font-size: 20px;
    visibility: hidden;
}
.info_text, .info_text_shop{
    font-size: 22px;
    width: 500px;
    padding: 10px 0;
}
.card_id, .shop_name, .shop_address, .shop_description, .shop_bank, .shop_bank_id{
    width: 500px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid#ecb143;
}
.shop_description{
    height: 200px;
    padding: 10px;
    resize: none;
}
.shop_description::-webkit-scrollbar {
    width: 12px;

}
.shop_description::-webkit-scrollbar-track {
    background-color: #fee7ce;
    border-radius: 10px;
} 
.shop_description::-webkit-scrollbar-thumb {
    background-color: #f8bc8b; 
    border-radius: 10px;
} 
.input_infoseller input:focus, .input_infoseller textarea:focus{
    border: 1px solid#ed6a53;
}

.info_text_shop{
    margin-top: 0px;
}
.bg_shop_img{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bg_shop_img2{
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxbg{
    position: relative;
    height: 230px;
    width: 230px;
    border: 2px solid #ecb143;
    background-color: #fffaf5;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#up_icon{
    position: absolute;
    color: #ecb143;
    transform: scale(1.5);
    opacity: 0.7;
}
#uploadedProshop{
    position: absolute;
    height: 230px;
    width: 230px;
    border: none;
    border-radius: 20px;
    object-fit: cover;
}
.button_shop_img{
    padding: 7px;
    border: 2px solid#d4803c;
    background-color: #fceac8;
    border-radius: 10px;
    cursor: pointer;
    color: #d4803c;
    font-size: 16px;
    transition-duration: 0.2s;
}
.button_shop_img i{
    transition-duration: 0.2s;
}
.button_shop_img:hover{
    border: 2px solid#943524;
    color: #943524;
}
.button_shop_img:hover > i{
    transform: scale(1.2);
}
.uploadphoto{
    font-size: 18px;
}
.submit_seller{
    margin-top:10px ;
    width: 500px;
    height: 55px;
    font-size: 20px;
    color: #ffffff;
    background-color:#ed6a53 ;
    border: none;
    border-radius: 50px;
    transition-duration: 0.1s;
}
.submit_seller:hover{
    background-color:#cb513b ;
}
.submit_seller div{
    transition-duration: 0.3s;
}
.submit_seller:hover > div{
    transform: scale(1.1);
}
.submit_seller:active{
    transform: scale(0.95);
}


@media screen and (max-width: 1000px) {

    .header-active{
        min-height: 300px !important;
    }
    .insearch_bar{
        width:75%;
    }
    .profile_order{
        display: none;
    }
}