
*{
    font-family: 'Exo 2', sans-serif, 'Noto Sans Thai', sans-serif;
}
html, body{
    height: 100%;
    background-color: #fffaf5;
}


.bg_all{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.all {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_orad{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.order_pro{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.order_pro2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.myproduct_order{
    max-width: 600px;
    height: 200px;
    margin-top:30px ;
    border-radius: 10px;
    border: 5px solid #ed6a53;
    background-color: #fff6f5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ed6a53;
    font-size: 30px;
    transition-duration: 0.1s;
}
.bookmark,.bookmark2 ,.box_open{
    color: #ed6a53;
    margin: 20px;
    font-size: 50px;
    transition-duration: 0.1s;
}
.bookmark{
    font-size: 80px;
    position: absolute;
    top: -30px;
    right: 0;
    color: #f4b27c;
}
.bookmark2{
    font-size: 80px;
    position: absolute;
    top: -35px;
    right: -5px;
    color: #ed6a53;
}
.count_order2{
    position: absolute;
    font-size: 24px;
    top: 0px;
    right: 25px;
    color: #fff;
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count_order3{
    font-size: 35px;
    margin-bottom: 10px;
    color: #ed6a53;
}
.myproduct_order:hover{
    transform: scale(1.005);
}
.myproduct_order:hover > i, .count_order2, .count_order3{
    transform: scale(1.1);
}

.text_order{
    margin-top: 30px;
    margin-left: 80px;
    width: 600px;
    height: 180px;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.text_o{
    margin:20px;
    align-items: center;
}
.my_product_add_head{
    max-width: 600px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    padding-left:20px ;
}
.my_product_add_head2{
    max-width: 600px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    padding-left:20px ;
}
.myproduct_add{
    max-width: 600px;
    width: 100%;
    height: 200px;
    margin-top:30px ;
    border-radius: 10px;
    border: 5px solid #d4803c;
    background-color: #fffaf5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    cursor: pointer;
}
.myproduct_add i{
    color: #d4803c;
    transform: scale(2);
    transition: transform 0.2s;
}
.myproduct_add:hover{
    transform: scale(1.005);
}
.myproduct_add:hover > i{
    color: #d4803c;
    transform: scale(2.5);
}
.my_product_head{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    padding-left:20px ;
}
.bg_mypro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myproduct{
    width: 90%;
    height: 200px;
    margin-top:30px ;
    border-radius: 10px;
    border: 1px solid #ed6a53;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail_pro{
    display: flex;
    align-items: center;
}
.click_incpro{
    height: 150px;
    width: 400px;
    padding-left:10px;
    margin: 5px 0px 5px 30px;
    display: flex;
    align-items: center;
    background-color: #fffaf5;
    border:1px solid #e5a46f;
    border-radius: 10px;
    z-index: 1;
}
.click_incpro img{
    width: 130px;
    height:130px;
    object-fit: cover;
    border-radius: 5px;
}

.product_name{
    margin:0 0 0 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-size: 18px;
}
.bg_description{
    width: 500px;
    display: flex;
    flex-direction: column;

}
.bg_cost_amount{
    display: flex;
    height: 50px;
    justify-content: space-around;
    width: 500px;
}
.cost_pro{
    margin:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ed6a53;
    margin-left: 50px;
}

.bg_amount{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.amount{
    width: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.amount:before{
    content: "x";
}
.cost_pro:before{
    content: "฿ ";
}
.bg_desc{
    height: 120px;
    margin: 0px 10px 19px 30px;
    box-sizing: border-box;
    border: 0px;
    padding: 10px 10px 10px 20px;
    z-index: 0;
    font-size: 18px;
    border-top: 1px solid #ffddb9;
    outline: none;
    resize: none;
}
.bg_desc::-webkit-scrollbar {
    width: 10px;

}
.bg_desc::-webkit-scrollbar-track {
    background-color: #fee7ce;
    border-radius: 10px;
} 
.bg_desc::-webkit-scrollbar-thumb {
    background-color: #f8bc8b; 
    border-radius: 10px;
} 

.data_pro{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}
.type_selling{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    background-color: #fffaf5;
    border:3px solid #ffddb9; 
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.del_product{
    color: #ed6a53;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.date_selling{
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    color: #555555;
}
.bg_confirm_sucess{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #767676;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
    z-index: 5;
}
.confirm_success{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 250px;
    border: 5px solid #ed6a53;
    background-color: #fffaf5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    transition-duration: 0.2s;
    transform:scale(0);
    z-index: 5;
}
.confirm_success_text{
    font-size: 28px;
    margin-top: 50px;
    
}
.bg_success{
    display: flex;
    gap: 40px;
}
.confirm_success_exit, .confirm_success_verifile{
    width: 140px;
    height: 50px;
    margin-top: 60px;
    font-size: 22px;
    border-radius: 10px;
    border: 3px solid #ed6a53;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;
}
.confirm_success_exit{
    background-color: none;
    color: #ed6a53;
}
.confirm_success_verifile{
    background-color: #ed6a53;
    color: #fff;
}
.confirm_success_exit:hover, .confirm_success_verifile:hover{
    transform: scale(1.1);
}









@media screen and (max-width: 1400px) {
    .detail_pro{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
        width: 60%;
    }
    .myproduct{
        height: auto;
        width: 70%;
        min-width: 780px;
    }
    .data_pro{
        height: 100%;
    }
}








@media screen and (max-width: 1000px) {
    #mymenu .inmenu:nth-child(5) .bordermenu {
        border: none;
      }
    .header-active{
        min-height: 370px !important;
    }
    .insearch_bar{
        width:75%;
    }
    .profile_order{
        display: none;
    }
    .container_orad{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .order_pro, .order_pro2{
        width: 100%;
        align-items: center;
    }
    .my_product_add_head, .my_product_add_head2{
        width: 100%;
        max-width: none;
    }
    .myproduct_order, .myproduct_add {
        max-width: none;
        width: 100%;
    }
    .myproduct{
        flex-direction: column;
        min-width: 500px;
    }
    .click_incpro{
        margin: 0;
    }
    .data_pro{
        align-items: center;
        gap: 20px;
        margin: 0;
        justify-content: center;
    }
    .detail_pro{
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    .date_selling{
        justify-content: center;
    }
    .bg_description{
        width: 100%;
        align-items: center;
    }
    .bg_desc{
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

}